<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akshay's Tomb: {{ page.title }}</title>
    <meta name="author" content="David Todd" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

    <header id="header">
        <a href="/">Akshay's Tomb</a>
    </header>

    <main id="content">
        {{ content }}
    </main>

    <footer id="footer">
        Congratulations! You're looking at the footer, and it's not <code>position: fixed</code>. That means you only see it when you scroll down!
    </footer>

</body>
</html>
